debug: true
progress:
  type: file

meilisearch:
  api_url: http://meilisearch:7700
  api_key: xxx
  insert_size: 1000
  insert_interval: 10

source:
  type: postgres
  host: postgresql # assuming your PostgreSQL server is running on the same machine as `meilisync`
  port: 5432
  database: risk
  user: postgres
  password: xxx

sync:
  - table: content_detail
    index: meilisearch_index_content_detail
    pk: id # Read the "Primary key inference" section below
    full: false
    fields:
      id:
      url:
      content:
      source:
      detail: