networks:
    middleware-network:
        external: true
        
services:
    meilisync:
        image: long2ice/meilisync
        volumes:
          - ./config.yml:/meilisync/config.yml
        networks:
          - middleware-network   
        restart: always