#:schema node_modules/wrangler/config-schema.json
name = "d1"
main = "src/index.ts"
compatibility_date = "2023-05-18"
compatibility_flags = ["nodejs_compat"]

[[d1_databases]]
binding = "DB"
database_name = "risk"
database_id = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
migrations_dir = "db/migrations"

[vars]
AUTH_VALUE = "572ce5667e425a"
