CPUS=0
HOST_IP=""
MEMORY_LIMIT=0
APP_PORT_HTTP=5432
DB_ROOT_PASSWORD="xxxxx"
DB_ROOT_USER="postgres"
PREFECT_API_URL=http://xxxxx:4200/api
LITELLM_MASTER_KEY=hy-xxxx
LITELLM_SALT_KEY=hy-xxxx
REDIS_PASS="XXXXX"